# PANDAS DATAFRAME KULLANIMI VE ÖZELLİKLERİ

In [ ]:
#Dataframe:her sütunu farklı dtypedan oluşan yapılardır. Matrissel bir yapıdır ve sütunların her biri series nesnesidir 
#dataframeler genelde dosyalardan okunur. 
#ndarrayden,iterable nesneden veya herhangi bir datframeden okunup yeni bir dataframe oluşturulabilir

# 1)Liste listesinden dataframe oluşturma

In [1]:
import pandas as pd 
import numpy as np
df = pd.DataFrame([['Ali', 20], ['Veli', 30], ['Selami', 40]], columns=['Adı Soyadı', 'No'],index=['X','Y','Z'])
print(df)

  Adı Soyadı  No
X        Ali  20
Y       Veli  30
Z     Selami  40

# 2)numpy arraylerden dataframe yaparsam

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame([['Ali', 20], ['Veli', 30], ['Selami', 40]], columns=['Adı Syoadı', 'No'])
print(df)
df = pd.DataFrame(np.random.randint(0, 100, (10, 3)), columns=['One', 'Two', 'Three'])
print(df)

  Adı Syoadı  No
0        Ali  20
1       Veli  30
2     Selami  40
   One  Two  Three
0    3   26     88
1   67   15     43
2   56   49     98
3   16   35     79
4   44   73     65
5   46   31     32
6   13    7     79
7   54   64     36
8   15   50     27
9   64   77     23

In [ ]:
#2.1)Numpy arrayden dataframe oluşturma

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(15).reshape(5, 3), columns=['A', 'B', 'C'])
print(df)

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

# 3)sözlükten dataframe yaparsam anahtar olarak kolon ismi, value olarak recordlar verilmeli

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame([['Ali', 20], ['Veli', 30], ['Selami', 40]], columns=['Adı Soyadı', 'No'], index= ['A', 'B', 'C'])
print(df)
print()
df = pd.DataFrame({'Adı Soyadı': ['Ali Serçe', 'Sacit Hiçyılmaz', 'Kaan Aslan'], 'No': [10, 20, 30]})
print(df)

  Adı Soyadı  No
A        Ali  20
B       Veli  30
C     Selami  40

        Adı Soyadı  No
0        Ali Serçe  10
1  Sacit Hiçyılmaz  20
2       Kaan Aslan  30

# 4)sözlüklerden oluşan bir sözlüklede dataframe yapılabilir

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': {'X': 1, 'Y': 2, 'Z': 3}, 'B': {'X': 4, 'Y': 5, 'Z': 6}, 'C': {'X': 7, 'Y': 8, 'Z': 9}})
print(df)

   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

In [ ]:
#5)Serileri bir araya getirip dataframe yapabilirim

In [6]:
import pandas as pd
import numpy as np
a = pd.Series([1, 2, 3])
b = pd.Series([4, 5, 6])
c = pd.Series([7, 8, 9])
df = pd.DataFrame({'X': a, 'Y': b, 'Z': c})
print(df)

   X  Y  Z
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
#5.1)series örneği 2: Bu yöntemde her seriyi sütun değil satırlara sırayla yerleştiriyor .satırsal işlem olmuş

In [7]:
import pandas as pd
import numpy as np
a = pd.Series([1, 2, 3])
b = pd.Series([4, 5, 6])
c = pd.Series([7, 8, 9])
df = pd.DataFrame([a, b, c])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#5.2)concat ile  sütunsal birleştirebiliriz :

In [8]:
import pandas as pd
import numpy as np
a = pd.Series([1, 2, 3], name='X')
b = pd.Series([4, 5, 6], name='Y')
c = pd.Series([7, 8, 9], name='Z')
df = pd.concat([a, b, c], axis=1)
print(df)

   X  Y  Z
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
#5.3)Boş bir dataframe oluşturup yeni seriesler şeklinde eklenebilir (indexleme ve atama yöntemi)

In [9]:
import pandas as pd
import numpy as np
a = pd.Series([1, 2, 3])
b = pd.Series([4, 5, 6])
c = pd.Series([7, 8, 9])
df = pd.DataFrame()
df['X'] = a
df['Y'] = b
df['Z'] = c
print(df)

   X  Y  Z
0  1  4  7
1  2  5  8
2  3  6  9

# Dataframe Nesnesine  Erişim ve İşlemler

In [ ]:
#Bir dataframe in belirli bir sutununu series olarak alabilirim ve series methodlarını kullanabilirim

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame([['Ali', 20], ['Veli', 30], ['Selami', 40]], columns=['Adı Soyadı', 'No'], index= ['A', 'B', 'C'])
s = df['Adı Soyadı']
k = df['No']
print(s)
print()
print(k)

A       Ali
B      Veli
C    Selami
Name: Adı Soyadı, dtype: object

A    20
B    30
C    40
Name: No, dtype: int64

In [ ]:
#dtype değiştirebiliriz tüm numerik ifadelerin dtype float32 olur

In [11]:
import pandas as pd
import numpy as np
df = pd.DataFrame([['Ali', 20, 100], ['Veli', 30, 200], ['Selami', 40, 300]], columns=['Adı Soyadı', 'No', 'Depth'], index= ['A', 'B', 'C'], dtype='float32')
s = df['Adı Soyadı']
k = df['No']
m = df['Depth']
print(s)
print()
print(k)
print()
print(m)

A       Ali
B      Veli
C    Selami
Name: Adı Soyadı, dtype: object

A    20.0
B    30.0
C    40.0
Name: No, dtype: float32

A    100.0
B    200.0
C    300.0
Name: Depth, dtype: float32

# Dataframe İndexlenmesi  :

In [ ]:
#1)Sütunsal indexleyebilirim ve sütun indexini verip çağırabilirim 
#2)dataframe iloc-loc ile indexlenirse satırın tamamı elde edilir 
    #2.1)df.iloc yaparsam tek bir satırı elde edersem series olur,bir grup satırı elde etmek istersem dataframe olur.[Satırlar için iloc kullan,satırın numarasıyla işlem yapar] 
        #df.iloc[5:7] :Data frame alır 
        #df.iloc[5] :series olarak alır  
        #df.iloc[[1,2]]=1 ve 2.satırları alırım

In [13]:
#2.1)İloc indexleme 
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv')
result = df.iloc[10:20]
print(result)

            Date      Open      High       Low     Close         Volume  \
10  Feb 10, 2018  0.947251  1.300000  0.947251  1.070000  4,682,010,000
11  Feb 09, 2018  0.797140  0.954428  0.771540  0.954428  1,690,340,000
12  Feb 08, 2018  0.729252  0.806970  0.722611  0.805263    947,315,000
13  Feb 07, 2018  0.774576  0.805478  0.706950  0.723895  1,133,370,000
14  Feb 06, 2018  0.705121  0.786004  0.588360  0.776393  2,361,140,000
15  Feb 05, 2018  0.825943  0.833866  0.675827  0.691799  1,286,180,000
16  Feb 04, 2018  0.913418  0.952947  0.796821  0.815703  1,190,960,000
17  Feb 03, 2018  0.891992  0.974799  0.761635  0.924043  1,988,960,000
18  Feb 02, 2018  0.960642  0.960642  0.635185  0.884784  3,529,760,000
19  Feb 01, 2018  1.160000  1.160000  0.930378  0.962530  1,410,420,000

        Market Cap
10  36,951,500,000
11  31,095,800,000
12  28,447,500,000
13  30,215,600,000
14  27,506,200,000
15  32,219,400,000
16  35,631,700,000
17  34,795,900,000
18  37,473,900,000
19  44,971,500,000

In [19]:
#2.2)df.loc yaparsam tek bir satırı elde edersem series olur,bir grup satırı elde etmek istersem dataframe olur.[index isimleriyle ele geçiriyorum] 
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv') 
print(df.loc[10]) #label ismini verdim ve eriştim 10.satıra

Date            Feb 10, 2018
Open                0.947251
High                     1.3
Low                 0.947251
Close                   1.07
Volume         4,682,010,000
Market Cap    36,951,500,000
Name: 10, dtype: object

In [20]:
#3)Dataframe nesnesi ile indexleme: Sütunları ele geçiririm bu yöntemle :Sütun ismini ele geçirip işlem yapar
#tek sütun ele geçirilirse series çok sütun ele geçirilirse dataframe olur
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv')
result = df[['Date', 'Open', 'Close']]
print(result)

              Date      Open     Close
0     Feb 20, 2018  1.140000  1.090000
1     Feb 19, 2018  1.120000  1.140000
2     Feb 18, 2018  1.200000  1.120000
3     Feb 17, 2018  1.140000  1.200000
4     Feb 16, 2018  1.140000  1.140000
...            ...       ...       ...
1657  Aug 08, 2013  0.004397  0.004254
1658  Aug 07, 2013  0.004669  0.004417
1659  Aug 06, 2013  0.005637  0.004680
1660  Aug 05, 2013  0.005875  0.005613
1661  Aug 04, 2013  0.005874  0.005882

[1662 rows x 3 columns]

# Dataframe Nesnesinde Koşul işlemleri ve Operasyonlar

In [21]:
#Bir satırda herhangi bir kriter uygulamak istersem: 
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv')
result = df.iloc[(df['Open'] > 2).values] #open columnda 2 den büyük olanları getirdim
print(result)

            Date  Open  High   Low  Close         Volume       Market Cap
37  Jan 14, 2018  2.02  2.02  1.81   1.86  1,978,200,000   78,195,800,000
38  Jan 13, 2018  2.05  2.12  1.98   2.02  2,130,170,000   79,469,700,000
41  Jan 10, 2018  2.13  2.16  1.70   1.97  4,833,640,000   82,511,000,000
42  Jan 09, 2018  2.44  2.53  1.98   2.10  3,694,700,000   94,657,500,000
43  Jan 08, 2018  3.36  3.36  2.07   2.46  3,315,260,000  130,302,000,000
44  Jan 07, 2018  3.09  3.49  3.08   3.38  2,395,150,000  119,819,000,000
45  Jan 06, 2018  3.02  3.24  2.99   3.09  2,777,560,000  117,033,000,000
46  Jan 05, 2018  3.30  3.56  2.83   3.05  6,288,500,000  127,870,000,000
47  Jan 04, 2018  3.12  3.84  3.12   3.20  8,103,660,000  120,763,000,000
48  Jan 03, 2018  2.46  3.28  2.44   3.11  6,635,880,000   95,457,200,000
49  Jan 02, 2018  2.37  2.49  2.25   2.48  3,171,010,000   91,791,800,000
50  Jan 01, 2018  2.30  2.39  2.15   2.39  1,894,230,000   88,945,900,000
51  Dec 31, 2017  2.10  2.39  1.87   2.30  4,642,080,000   81,162,600,000
52  Dec 30, 2017  2.20  2.85  2.04   2.16  8,108,390,000   85,187,400,000

In [22]:
#iloc kullanmadan dataframe indexlemesiyle koşul belirtme
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv')
result = df[df['Open'] > 2]
print(result)

            Date  Open  High   Low  Close         Volume       Market Cap
37  Jan 14, 2018  2.02  2.02  1.81   1.86  1,978,200,000   78,195,800,000
38  Jan 13, 2018  2.05  2.12  1.98   2.02  2,130,170,000   79,469,700,000
41  Jan 10, 2018  2.13  2.16  1.70   1.97  4,833,640,000   82,511,000,000
42  Jan 09, 2018  2.44  2.53  1.98   2.10  3,694,700,000   94,657,500,000
43  Jan 08, 2018  3.36  3.36  2.07   2.46  3,315,260,000  130,302,000,000
44  Jan 07, 2018  3.09  3.49  3.08   3.38  2,395,150,000  119,819,000,000
45  Jan 06, 2018  3.02  3.24  2.99   3.09  2,777,560,000  117,033,000,000
46  Jan 05, 2018  3.30  3.56  2.83   3.05  6,288,500,000  127,870,000,000
47  Jan 04, 2018  3.12  3.84  3.12   3.20  8,103,660,000  120,763,000,000
48  Jan 03, 2018  2.46  3.28  2.44   3.11  6,635,880,000   95,457,200,000
49  Jan 02, 2018  2.37  2.49  2.25   2.48  3,171,010,000   91,791,800,000
50  Jan 01, 2018  2.30  2.39  2.15   2.39  1,894,230,000   88,945,900,000
51  Dec 31, 2017  2.10  2.39  1.87   2.30  4,642,080,000   81,162,600,000
52  Dec 30, 2017  2.20  2.85  2.04   2.16  8,108,390,000   85,187,400,000

In [23]:
#Dataframe den satır ve sütun silme :satırda axis=0 ,sütun silersem axis=1 yazacağım df.drop() fonksiyonu içerisine 
import pandas as pd
import numpy as np
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]], columns=['X', 'Y', 'Z'])
result = df.drop('X', axis=1) 
print(result)

    Y   Z
0   2   3
1   5   6
2   8   9
3  11  12

In [24]:
#Birden fazla sütun silmek istersem liste halinde vereceğim :result = df.drop(['X', 'Y'], axis=1)
#satır silmek istersem aşağıdaki gibi yapabilirim 
import pandas as pd
import numpy as np
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]], columns=['X', 'Y', 'Z'])
print(df)
print()
result = df.drop(2) #2.satırı sildim esas nesnemde bir değişiklik yok result nesnemde değişiklik oldu
print(result)

    X   Y   Z
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

    X   Y   Z
0   1   2   3
1   4   5   6
3  10  11  12

In [25]:
#Dataframe insert yapmak istersem 
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [1, 2, 3], 'Y': [4, 5, 6], 'Z': [7, 8, 9]}, index=['A', 'B', 'C'])
print(df)
print()
df['K'] = [10, 20, 30] #K sütununu insert ettim df['K']=100 dersem tüm elemanlar 100 oluyor
print(df)

   X  Y  Z
A  1  4  7
B  2  5  8
C  3  6  9

   X  Y  Z   K
A  1  4  7  10
B  2  5  8  20
C  3  6  9  30

In [26]:

#2.yol insert etme yöntemi 
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [1, 2, 3], 'Y': [4, 5, 6], 'Z': [7, 8, 9]})
print(df)
print()
df.insert(2, 'K', [10, 20, 30])  #df.insert(3, 'K', [10, 20, 30]) = 3 yaparsam K 3.sütuna geliyor
print(df)

   X  Y  Z
0  1  4  7
1  2  5  8
2  3  6  9

   X  Y   K  Z
0  1  4  10  7
1  2  5  20  8
2  3  6  30  9

In [27]:
#İnsert İşlemimde eğer series veriyorsam indexlerim uyuşmalı 
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [1, 2, 3], 'Y': [4, 5, 6], 'Z': [7, 8, 9]}, index=['A', 'B', 'C'])
print(df)
print()
s = pd.Series([10, 20, 30], index=['A', 'B', 'C'])
df.insert(3, 'K', s)
print(df)

   X  Y  Z
A  1  4  7
B  2  5  8
C  3  6  9

   X  Y  Z   K
A  1  4  7  10
B  2  5  8  20
C  3  6  9  30

In [28]:
#dropna: na olan tüm satırları atıyor
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [1, None, 3], 'Y': [4, 5, 6], 'Z': [7, 8, None]}, index=['A', 'B', 'C'])
print(df)
print()
result = df.dropna()
print(result)

     X  Y    Z
A  1.0  4  7.0
B  NaN  5  8.0
C  3.0  6  NaN

     X  Y    Z
A  1.0  4  7.0

In [29]:
#açılış fiyatı sütununda  ortalamadan büyük olanları bulmak istersem: 
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv')
result = df[df['Open'] > df['Open'].mean()]
print(result)

             Date      Open      High       Low     Close         Volume  \
0    Feb 20, 2018  1.140000  1.170000  1.080000  1.090000    806,673,000
1    Feb 19, 2018  1.120000  1.170000  1.120000  1.140000    556,304,000
2    Feb 18, 2018  1.200000  1.210000  1.090000  1.120000  1,113,650,000
3    Feb 17, 2018  1.140000  1.220000  1.130000  1.200000  1,186,730,000
4    Feb 16, 2018  1.140000  1.150000  1.110000  1.140000    568,339,000
..            ...       ...       ...       ...       ...            ...
285  May 11, 2017  0.185035  0.194828  0.162431  0.183135    103,699,000
286  May 10, 2017  0.158471  0.201207  0.156363  0.186066    138,792,000
287  May 09, 2017  0.199198  0.216890  0.134406  0.160074    214,002,000
288  May 08, 2017  0.141620  0.237587  0.135105  0.198212    402,611,000
289  May 07, 2017  0.101929  0.148274  0.098938  0.141763    249,029,000

         Market Cap
0    44,648,100,000
1    43,813,300,000
2    46,997,500,000
3    44,370,200,000
4    44,663,300,000
..              ...
285   7,023,110,000
286   6,014,860,000
287   7,560,680,000
288   5,375,270,000
289   3,868,770,000

[290 rows x 7 columns]

In [30]:
#iki sutunun ortalamasını almak istersem 
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv')
result = df[['Open', 'Close']].mean(axis=0)
print(result)

Open     0.097768
Close    0.098423
dtype: float64

In [32]:
#Not:dataframede transpoz vb işlemler yapmak istersek numpy arraye dönüp(cast edip) işlem yapabiliriz  
#bir dataframede axis=0 ile satırlar üzerinde axis=1  dersek sütunlar üzerinde işlem yapabiliriz
#df.iloc(5) dersem 5.satıra erişirim.df in iloc fonksiyonunda satırlarla işlem yapabilirim
#dataframe in tek bir indexi olur ve o da satırlar içindir.
#df['item-3' : 'item-5'] =>> bu şekilde yaparsam 3.satır ve 5.satır arasındaki değerleri getirir.

#df.iloc[3,5] => 3.satır 5.spesifik elemana erişirim
#df.loc['item-3','Open'] =>3.satırın open olan sütunu gelsin istersem yazarım

# Dataframe Nesnesinde İterasyon

In [33]:
#dataframe iterate edersem: 
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(15).reshape(5, 3), index=list('ABCDE'), columns=list('XYZ'))
print(df) 
print()
for col, row in df.items(): #her dolaşımda items fonksiyonu bize bir tuple verir.
    print(row)

    X   Y   Z
A   0   1   2
B   3   4   5
C   6   7   8
D   9  10  11
E  12  13  14

A     0
B     3
C     6
D     9
E    12
Name: X, dtype: int32
A     1
B     4
C     7
D    10
E    13
Name: Y, dtype: int32
A     2
B     5
C     8
D    11
E    14
Name: Z, dtype: int32

In [34]:
#dataframe iterrows ile iterate etmek :burada iterate ederken satırlara erişirim 
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(15).reshape(5, 3), index=list('ABCDE'), columns=list('XYZ'))

for t in df.iterrows():
    print(t)

('A', X    0
Y    1
Z    2
Name: A, dtype: int32)
('B', X    3
Y    4
Z    5
Name: B, dtype: int32)
('C', X    6
Y    7
Z    8
Name: C, dtype: int32)
('D', X     9
Y    10
Z    11
Name: D, dtype: int32)
('E', X    12
Y    13
Z    14
Name: E, dtype: int32)

In [35]:
#pandasın herhangi bir sutunununda datetime methodu ile date formatına cast edebilirim 
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv')
result = df[['Open', 'Close']].mean(axis=0) 
result=pd.to_datetime(df['Open']) #datetime pandasın bir fonksiyonu
print(result)

0      1970-01-01 00:00:00.000000001
1      1970-01-01 00:00:00.000000001
2      1970-01-01 00:00:00.000000001
3      1970-01-01 00:00:00.000000001
4      1970-01-01 00:00:00.000000001
                    ...
1657   1970-01-01 00:00:00.000000000
1658   1970-01-01 00:00:00.000000000
1659   1970-01-01 00:00:00.000000000
1660   1970-01-01 00:00:00.000000000
1661   1970-01-01 00:00:00.000000000
Name: Open, Length: 1662, dtype: datetime64[ns]

In [36]:
#herhangi bir df üzerinde bir sütunu stringe çevirmek istersem 
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv') 
#volume sütunlarında virgüllerden kurtuldum
df = df[df['Volume'].str.find('-') != 0] #find fonksiyonu boolen dönüyor eğer 0 olursa istedğimiz işlemi preprocess yapıyoruz
#string operasyonları yapabilirim replace gibi ardından astype ile tekrardan float32 formata çevirdim 
#volume ve marketcap sütunlarında işlem yaptım 

df['Volume'] = df['Volume'].str.replace(',', '').astype('float32')
df['Market Cap'] = df['Market Cap'].str.replace(',', '').astype('float32')
print(df)

              Date      Open      High       Low     Close        Volume  \
0     Feb 20, 2018  1.140000  1.170000  1.080000  1.090000  8.066730e+08
1     Feb 19, 2018  1.120000  1.170000  1.120000  1.140000  5.563040e+08
2     Feb 18, 2018  1.200000  1.210000  1.090000  1.120000  1.113650e+09
3     Feb 17, 2018  1.140000  1.220000  1.130000  1.200000  1.186730e+09
4     Feb 16, 2018  1.140000  1.150000  1.110000  1.140000  5.683390e+08
...            ...       ...       ...       ...       ...           ...
1512  Dec 31, 2013  0.027675  0.027738  0.027022  0.027330  6.362100e+04
1513  Dec 30, 2013  0.027055  0.027750  0.026985  0.027460  7.263400e+04
1514  Dec 29, 2013  0.027311  0.027535  0.026627  0.027218  5.677200e+04
1515  Dec 28, 2013  0.027554  0.028106  0.026629  0.027303  1.434040e+05
1516  Dec 27, 2013  0.024427  0.027123  0.023527  0.027076  1.484220e+05

        Market Cap
0     4.464810e+10
1     4.381330e+10
2     4.699750e+10
3     4.437020e+10
4     4.466330e+10
...            ...
1512  2.163590e+08
1513  2.115150e+08
1514  2.135180e+08
1515  2.154130e+08
1516  1.909640e+08

[1517 rows x 7 columns]

In [37]:
#5.kolon üzerinde bir lambda fonksiyonuyla işlem yaptım
import pandas as pd
import numpy as np
df = pd.read_csv(r'CoinDatasets\ripple_price.csv', converters= {5: lambda s: None if s == '-' else s}) 
df.dropna(axis=0, inplace=True) #dropna ile noneolan satırları atıyorum 
df['Volume'] = df['Volume'].str.replace(',', '').astype('float32') # df['Volume'].str dedikten sonra yeni bir sınıf elde ediyorum bu bilinen stringden farklı pandasın string fonksiyonları0000
df['Market Cap'] = df['Market Cap'].str.replace(',', '').astype('float32')
print(df)

              Date      Open      High       Low     Close        Volume  \
0     Feb 20, 2018  1.140000  1.170000  1.080000  1.090000  8.066730e+08
1     Feb 19, 2018  1.120000  1.170000  1.120000  1.140000  5.563040e+08
2     Feb 18, 2018  1.200000  1.210000  1.090000  1.120000  1.113650e+09
3     Feb 17, 2018  1.140000  1.220000  1.130000  1.200000  1.186730e+09
4     Feb 16, 2018  1.140000  1.150000  1.110000  1.140000  5.683390e+08
...            ...       ...       ...       ...       ...           ...
1512  Dec 31, 2013  0.027675  0.027738  0.027022  0.027330  6.362100e+04
1513  Dec 30, 2013  0.027055  0.027750  0.026985  0.027460  7.263400e+04
1514  Dec 29, 2013  0.027311  0.027535  0.026627  0.027218  5.677200e+04
1515  Dec 28, 2013  0.027554  0.028106  0.026629  0.027303  1.434040e+05
1516  Dec 27, 2013  0.024427  0.027123  0.023527  0.027076  1.484220e+05

        Market Cap
0     4.464810e+10
1     4.381330e+10
2     4.699750e+10
3     4.437020e+10
4     4.466330e+10
...            ...
1512  2.163590e+08
1513  2.115150e+08
1514  2.135180e+08
1515  2.154130e+08
1516  1.909640e+08

[1517 rows x 7 columns]